<ion-view view-title="Behörden">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Amt für Wohnen und Migration</div>
      <div class="item item-body">
        <div>
          Leistungen des Amtes für Wohnen und Migration
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Jobcenter</div>
      <div class="item item-body">
        <div>
          Grundsicherung für Arbeitsuchende nach dem Sozialgesetzbuch II.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Soziale Sicherung</div>
      <div class="item item-body">
        <div>
          Amt für Soziale Sicherung.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
