<ion-view view-title="Info">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Umzug</div>
      <div class="item item-body">
        <div>
          Alles für den Umzug
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Shopping</div>
      <div class="item item-body">
        <div>
          Delikatessen, Supermärkte und Shops in der Nähe
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Stadtverkehr</div>
      <div class="item item-body">
        <div>
          Tarife, Pläne und Fahrkarten
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Bildung</div>
      <div class="item item-body">
        <div>
          VHS, Hochschulen und Universitäten
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
