<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Aktuelle Nachrichten</div>
      <div class="item item-body">
        <div>
          Oberbürgermeister begrüßt die Bundesliga Meister im Rathaus.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Gesundheitswesen</div>
      <div class="item item-body">
        <div>
          Neue Klinik wurde in <b>Großhadern</b> gegründet.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Anstehende Veranstaltungen</div>
      <div class="item item-body">
        <div>
          Anstich zum Oktoberfest am <b>19.09.2015</b>.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
