<ion-view view-title="Freizeit">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">In der Nähe</div>
      <div class="item item-body">
        <div>
          Interessante Lokale in der Nähe
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Veranstaltungskalendar</div>
      <div class="item item-body">
        <div>
          Kommende Veranstaltung mit städtischer Mitwirkung
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Gaststätten</div>
      <div class="item item-body">
        <div>
          Bars, Clubs und Restaurants
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
