<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Important Tab -->
  <ion-tab title="Behörden" icon-off="ion-alert" icon-on="ion-alert" href="#/tab/important">
    <ion-nav-view name="tab-important"></ion-nav-view>
  </ion-tab>

  <!-- Freizeit Tab -->
  <ion-tab title="Freizeit" icon-off="ion-ios7-people-outline" icon-on="ion-ios7-people" href="#/tab/sparetime">
    <ion-nav-view name="tab-sparetime"></ion-nav-view>
  </ion-tab>

  <!-- Info Tab -->
  <ion-tab title="Info" icon-off="ion-ios7-information-outline" icon-on="ion-ios7-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

  <!-- Einstelungen Tab -->
  <ion-tab title="Einstellungen" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
